html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
#graph-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
}
#graph {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.node {
    cursor: pointer;
    r: 10;

}
.highlighted {
    fill: green !important;
    stroke: black;
    stroke-width: 2px;
}

.linkHighlighted {
    stroke: purple;
    stroke-width: 3px;
}

.faded {
    opacity: 0.2;
}
.sourceHighlighted {
    fill: red !important;
    stroke: #333;
    stroke-width: 4px;
}