:root {
    --background: #f5f5f5;

    --element-background: #FFF;
    --element-boarder: 1px solid black;
    --element-radius: 8px;
    --element-padding-horizontal: 16px;
    --element-padding-vertical: 8px;
    --element-padding: var(--element-padding-vertical) var(--element-padding-horizontal);

    --element-padding-between: var(--element-padding-vertical)
}

* {
    font-size: 1rem;
}

html, body, user-graph, user-graph > svg {
    margin: 0;
    padding: 0;

    display: block;
    width: 100svw;
    height: 100svh;
}

user-graph {
    overflow: hidden;
}

graph-toolbar {
    width: 65ch;
    max-width: calc(100% - 2 * var(--element-padding-horizontal));

    position: fixed;
    bottom: var(--element-padding-horizontal);
    right: var(--element-padding-horizontal);
}
